<h3>
	<a href="/#document/{{ document._id }}">{{ document.name }}</a>
</h3>
<div class="icons">
	{{#if document.adultContent}}
	<span data-tooltip="This document may contain adult content">
		{{icon "eye-slash"}}
	</span>
	{{/if}}
	{{#if document.collaborators.length}}
	<span data-tooltip="This document is shared with {{ document.collaborators.length }} collaborators">
		{{icon "share-alt"}}
	</span>
	{{/if}}
	{{#unless document.public }}
	<span data-tooltip="This document is private">
		{{icon "lock"}}
	</span>
	{{else}}
	<span data-tooltip="This document is public">
		{{icon "users"}}
	</span>
	{{/unless}}
</div>
<p class="description">
	{{ document.description }}
</p>
<div class="tags">
	{{#each document.tags}}
	<a href="/#search?tags={{encode this}}">
		<span class="label radius">{{ this }}</span>
	</a>
	{{/each}}
</div>
<div class="meta">
	<p class="updated">
		Last updated: {{fromNow document.updated }}
	</p>
	<section name="stars" data-partial="stars" data-partial-data="document"></section>
</div>