<div class="toolbar">
	<select class="ql-font">
		<option value="sans-serif" selected>Sans Serif</option>
		<option value="serif">Serif</option>
		<option value="monospace">Monospace</option>
	</select>
	<a class="ql-bold" data-tooltip="Bold (Ctrl+B)">
		{{icon "bold"}}
	</a>
	<a class="ql-italic" data-tooltip="Italic (Ctrl+I)">
		{{icon "italic"}}
	</a>
	<a class="ql-underline" data-tooltip="Underline (Ctrl+U)">
		{{icon "underline"}}
	</a>
	<a class="ql-strike" data-tooltip="Strikethrough">
		{{icon "strikethrough"}}
	</a>
</div>
<div class="editor">
	<div><br /></div>
</div>
<div class="buttons">
	{{#if buttons}}
	{{#each buttons}}
	{{{ this }}}
	{{/each}}
	{{/if}}
</div>