<h1><a href="/#">Collabish</a></h1>
<div class="controls">
	<a class="profile" href="/#user/{{ user.username }}">
		<img src="{{gravatar gravatarHash "s=32"}}" width="32" height="32" alt="" title="" />
		{{ user.username }}
	</a>
	<div class="icons">
		<a class="create" href="/#create">
			<span data-tooltip="Create Document">
				{{icon "plus-circle"}}
			</span>
		</a>
		<a class="search" href="/#search">
			<span data-tooltip="Search Documents">
				{{icon "search"}}
			</span>
		</a>
		<a class="inbox" href="/#inbox">
			<span data-tooltip="Inbox">
				{{icon "inbox"}}
			</span>
			<span class="notification"></span>
		</a>
		<a class="settings" href="/#settings">
			<span data-tooltip="Account Settings">
				{{icon "gears"}}
			</span>
		</a>
		<a class="signout">
			<span data-tooltip="Sign Out">
				{{icon "sign-out"}}
			</span>
		</a>
	</div>
</div>
